body {
    font-family: Arial, sans-serif;
    display: flex;
}
.sidebar {
    width: 230x;
    background: #030f1f;
    color: #fff;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
}
.sidebar h2 {
    color: #fff;
    text-align: center;
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
}
.sidebar ul li {
    margin: 15px 0;
}
.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px;
    border-radius: 4px;
}
.sidebar ul li a:hover {
    background: #02264e;
}
.content {
    margin-left: 275px;
    padding: 20px;
    width: calc(100% - 250px);
    display: flex;
    flex-direction: column;
}
.header {
    width: 895px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background: #f3efff;
    border-bottom: 10px solid #ddd;
}
.header h1 {
    margin: 0;
}
.profile {
    display: flex;
    align-items: center;
}
.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.profile .name {
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
}
.profile a {
    color: #030f1f;
    text-decoration: none;
}
.profile a:hover {
    color: #02264e;
}
.logout-button {
    background: #02264e;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
}
.logout-button:hover {
    background: #030f1f;
}


ul li a {
    display: flex;
    align-items: center;
}

ul li a i {
    margin-right: 10px; /* Add space between icon and text */
}

.dropdown-content a i {
    margin-right: 10px;
}


.dropdown {
    background-color: #02264e;
    position: relative;
}

.dropdown-content {
    display: none;
    background-color: #030f1f;
    position: relative;
    width: 100%;
}

.dropdown-content a {
    padding-left: 30px;
    color: white;
}

.dropdown-content a:hover {
    background-color: #575757;
}




.isi{
    margin-left: 100px;
    padding-top: 100px;
    width: calc(100% - 250px);
    display: flex;
    flex-direction: column;
}

.content h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 20px;
    
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}

button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #030f1f;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #02264e;
}

.back-link {
    text-align: center;
    display: inline-block;
    margin-top: 20px;
    padding: 10px 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.back-link:hover {
    background-color: #0056b3;
}
.a{
    margin-left: 100px;
    padding-top: 100px;
    width: calc(100% - 250px);
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="number"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}

.o{
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}

.oy{
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #030f1f;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.oy:hover{
    background-color: #02264e;
}

input[type="date"],
input[type="number"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}